* {
  white-space: none;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: rgb(98, 111, 155);
}

main {
  width: 40%;
  height: 30%;
  background-color: white;
}

header {
  background-color: rgb(100, 73, 39);
  display: flex;
  flex-direction: row;
  gap: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.principal {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  background-color: blueviolet;
  justify-content: space-around;
}
.content-item {
  padding: 8px;
  display: flex;
  flex-direction: column;
  border: 2px dashed black;
}
.content-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 8px;
}

.main-cc {
  max-height: 81vh;
  overflow-y: auto;
  overflow-x: hidden;
}
#icon-container {
  border: 3px solid black;
  width: fit-content;
  height: 128px;
  padding: 0;
}

#active-menu {
  font-style: italic;
  font-weight: bold;
}

#icon {
  width: 128px;
  height: 128px;
}

a {
  text-decoration: none;
  color: black;
  display: inline-block;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

p {
  margin: auto;
}
